<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ljl.study.mapper.ClassDao">
    <resultMap id="classlist" type="ClassEntity">
           <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <collection property="students" column="student_id" ofType="StudentEntity">
          <id property="id" column="student_id"></id>
            <result property="name" column="student_name"></result>
        </collection>
    </resultMap>
    <select id="selectClassList" resultMap="classlist">
        select t1.id,t1.name,t2.id as student_id,t2.name as student_name from t_class t1,t_student t2 where t1.id =t2.cid
    </select>

</mapper>